html {
  font-family: 'Univers LT Std', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 1.3;
  background-color: #eee;
  margin: 50px;
  font-weight: 200;
}

body {
  margin: auto;
  padding: 50px;
  background-color: white;
  width: 600px;
  border-radius: 10px;
}

h1 {
  font-weight: normal;
  color: #333;
}

h2 {
  font-weight: normal;
}

a {
  color: black;
  text-decoration: underline;
}

ul {
  padding-left: 1em;
}